[submodule "third-party/libdeflate"]
	path = third-party/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "third-party/libmaxminddb"]
	path = third-party/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb.git
